* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Add styles here! */

body {
  color: hsl(0deg, 0%, 0%);
}

h1 {
  font-size: 2rem;
  margin-bottom: 48px;
}

p {
  margin-bottom: 32px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header {
  border-bottom: 10px solid hsl(0, 0%, 40%);
  padding: 48px 0;
}

main {
  background: hsl(0, 0%, 60%);
  padding: 64px 0;
}

.max-width-wrapper {
  padding: 0 24px;
  max-width: 700px;
  margin: 0 auto;
}

.intro-chunk {
  max-width: 360px;
}

.card {
  background: white;
  border-bottom: 8px solid hsl(0, 0%, 40%);
  margin: -24px;
  padding: 24px;
}

.card p:last-child {
  margin-bottom: 0px;
}

h2 {
  font-size: 1.5rem;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  margin-left: -32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -8px;
}
